.like-btn {
    background-color: #393B3C;
    border: none;
    border-radius: 28px;
    padding: 16px 22px 10px;
    cursor: pointer;
}

.like-btn:hover {
    background-color: #67A5EB;
}


.like-btn:focus,
.like-btn:focus-visible {
    background-color: #45526E;
    color: rgba(255, 255, 255, 0.5);
    outline: none;
}


.like-btn__img {
    width: 24px;
    height: 24px;
}