.search-string {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    padding: 12px 16px;
    background-color: #393B3C;
   
}

.search-string:hover {
    box-shadow: 0px 0px 80px 0px rgba(255, 255, 255, 0.33);
} 

.search-string__field {
    width: 587px;
    background-color: inherit;
    padding: 0;
    border: 0;
    font-size: 18px;
    line-height: 24px; 
    color: rgba(255, 255, 255, 0.5);
}

.search-string__field:focus,
.search-string__field:focus-visible {
    outline: none;
}

.search-string__img {
    opacity: 0.5;
}

@media (max-width: 767px) {
    .search-string {
          max-width: 100%;
    }
  
}
