.top-films__title {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    margin-bottom: 64px;
}

.top-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 64px 40px;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-bottom: 120px;
}

.top-list__item {
    position: relative;
    width: 224px;
    height: 336px;
    border-radius: 16px;
    box-shadow: 0px 0px 80px 0px rgba(255, 255, 255, 0.33);

}

.top-list__number {
    position: absolute;
    top: -12px;
    left: -12px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #6A5DC2;
    padding: 8px 24px;
    background-color: #fff;
    border-radius: 50px;
}

@media (max-width: 767px) {
    .top-films__title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 40px;
    }

    .top-list {
        flex-wrap: nowrap;
        margin-bottom: 32px;
        overflow: scroll;
    }
}
