.footer__links {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 40px 0;
    justify-content: end;
}

@media (max-width: 767px) {
    .footer__links {
        padding: 24px 0;
        justify-content: start;
    }
}
